UCRM_URL=https://tu-servidor:8443
UCRM_API_KEY=tu_api_key_aqui
EMAIL_USER=tu_correo@gmail.com
EMAIL_PASS=tu_contraseña_de_aplicacion_gmail
ADMIN_EMAIL=admin@tuempresa.com
PHONE_RECORDATORIOS=51XXXXXXXXX
PHONE_NOTIFICACIONES=51XXXXXXXXX
SCOTIA_CUENTA=770-XXXXXXX
SCOTIA_CCI=009423207XXXXXXXXXX
BCP_CUENTA=XXXXXXXXXXXXXX
YAPE_NUMERO=9XXXXXXXX
NOMBRE_TITULAR_SCOTIA=Nombre Apellido